
<div class="row">
    <div class="input-field col s12">
        <div id="descricaoInstituicao">        
            <p>como deseja ajudar {{nome}} ?</p>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="txtDoacao" class="materialize-textarea" length="120"></textarea>
                <label for="txtDoacao">O que deseja doar?</label>
            </div>
        </div>
        <button type="button" onclick="FlashBuy.doacao.doar()" class="waves-effect waves-light btn">
            Doar
        </button>

    </div>
</div>

