<!--por enquanto estou utilizando dentro do model apenas esses dois valores, logo implementaremos os outros-->
<div class="instituicao">
    <div class="col s12 m7">
        <div class="card small">
            <div class="card-image">
                <img src="../img/semImagem.png" />
                <span class="card-title"> {{descricao}}  </span>
            </div>
            <div class="card-content">
                <p>{{descricao}}</p>
            </div>       
        </div>
    </div>
</div>
